html, body{
  box-sizing: border-box;
  margin:0;
}

nav {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity:0.6;
  padding-left:1rem;
}

.nav-container h1{
  color:white;
  font-family: 'Quicksand', sans-serif;
}

#navbar{
  background-color: #535152;
}

.nav-container li, a, button{
  text-decoration: none;
}

.nav-container a{
  color: white;
}

.nav-list{
  list-style: none;
}

.nav-list li{
  display: inline-block;
  padding:5px 20px;
  text-decoration: none;
}

.nav-container{
  width: 100%;
}

header{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
  font-family: 'Quicksand', sans-serif;
}

.welcome-section, .images, .experience {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #fcf5f5;
  gap: 2rem;
  padding-bottom:20px;
}

.welcome-section img{
  height: auto;
  max-width: 400px;
  width: 100%;
  margin-top:10px;
}

.bio{
  width:100%;
  max-width: 300px;
  padding: 0.625rem;
  border-radius: 6px;
}
.bio h1, .experience h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p, .experience p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio-title{
  color: #535152;
  font-size: 80px;
  font-family: 'Qwitcher Grypen', cursive;
}

.about {
  background-color: #fcf5f5;
  margin-top: 100px;
  padding:50px;
}

.work-logo{
  height: 2rem;
  width: auto;
}

.rescience-logo{
  height: 4rem;
  width: auto;
}

.prj{
  height: 10rem;
  width: auto;
}

.work-desc{
  width:50rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.act-desc{
  width: 70rem;
  padding: 0.625rem;
  border-radius: 6px;
}

.contact-btn{
  background-color: #535152;
  color:white;
  padding:8px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
}

.section-title {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #535152;
  font-size: 40px;
}

.about p{
  line-height: var(--line-height);
  padding: 0.3rem 8rem;
  text-align: center;
  color: #535152;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .about p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }
}
/* PROJECTS SECTION */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image{
  width:100%;
  max-width:400px;
  height: auto;
}

.card{
  padding:30px;
  justify-content: center;
  text-align: center;
  background-color: #EBEBEB;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  margin: 10px;
  width:100%;
  max-width: 400px;
}

.project-desc{
  color: #535152;
}

.project-title a,.project-title, .act-title{
  font-family: 'Quicksand', sans-serif;
  color:#ed217c;
  padding: 10px;
  font-weight:700;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 6.875rem;
  height: 6.25rem;
}

.activities-section, .contact-section, .projects-section, .work-section{
  background-color: #fcf5f5;
  /* padding-bottom: 30px;
  padding-top: 30px;
  margin-top:50px; */
}

.contact-details{
  color:#535152;
  padding:20px;
}

.contact-links{
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.experience-title{
  color:red;
}

.act-img{
  width:100%;
  max-width: 500px;
  height:auto;
}

.act-ver-img{
  height:100%;
  max-height: 500px;
  max-width:300px;
}